
html {
	position: relative;
	min-height: 100%;
}

body {
	color: $default-font-color;
	min-width: $min-app-width;	
	margin-bottom: $footer-height;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height;
	line-height: $footer-height;
	background-color: #666666;
}