nav.navbar {
	.navbar-nav {
		@media screen and (max-width: 978px) {
			margin: auto;
		}
		@media screen and (min-width: 979px) {
			margin-left: auto;
		}
		//height: $navbar-height;
		._nav-link {
			font-size: 1.1rem;
			margin-left: 1.5em;
		}
		._nav-link.active, ._nav-link:hover, ._nav-link:focus {
			color: #8ec55f;
			text-decoration: none;
		}
	}
}