.nav-link {
	font-size: 1.1rem;
	margin-left: 1.5em;
	color: white !important;
    -webkit-transition: color 0.25s; /* Safari */
    transition: color 0.25s;
}
.nav-link:hover {
	color: #8ec55f !important;
}